body {
    font-family: 'Montserrat', sans-serif;
}

header {
outline:1px white solid;
}

.nav-link img {
    height:50px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: darkred;
    letter-spacing: 1px;
}
.nav-link:focus {
    color:gray;
}

.img-fluid {
    object-fit: cover;
}

footer img {
    height:30px;
}

.bold {
    font-weight: 800;
}

.upper {
    text-transform: uppercase;
}

* {
    outline: 2px red solid;
}
